*,
:after,
:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: #221d1d;
    font-weight: 500;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    color: transparent;
    font-size: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    margin-bottom: 150px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-top: 35px;
}

.header__nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.header__nav .nav__link {
    text-decoration: none;
    color: #221d1d;
    margin-left: 77px;
    text-transform: uppercase;
    font-weight: 500;
}

.header__nav .nav__link:first-child {
    margin-left: 0;
}

.header__nav .nav__link:hover {
    text-decoration: underline;
}

.section__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 1.333;
    margin-bottom: 40px;
    margin-top: 53px;
}

.section__subtitle {
    font-size: 12px;
    line-height: 2.5;
    font-weight: 500;
    color: #000;
}

.section__text {
    width: 100%;
    max-width: 570px;
}

.section .main__btn {
    font-family: "Montserrat";
    height: 50px;
    background-color: #ffe100;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.section .main__btn:hover {
    opacity: 0.8;
}

.section .btn--send {
    margin-top: 45px;
    width: 180px;
}

.intro {
    min-height: 540px;
}

.intro .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.intro .intro__img {
    width: 100%;
    max-width: 570px;
    height: auto;
}

.showcase {
    margin-top: 130px;
}

.showcase__title {
    text-transform: uppercase;
    font-size: 58.78px;
    margin-bottom: 65px;
}

.showcase__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.showcase__buttons {
    display: flex;
}

.showcase__button {
    display: block;
    border: none;
    background-color: #fff;
    height: 26px;
    padding: 0 19px;
    border: 2px solid #fff;
    font-family: 'Montserrat';
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.showcase__button:hover {
    border: 2px solid #ffe100;
}

.showcase__button.active {
    background-color: #ffe100;
    border: 2px solid #ffe100;
}

.showcase__button:focus {
    outline: none;
}

.showcase__accordion {
    position: relative;
}

.showcase .accordion__arrow {
    position: absolute;
    bottom: 11px;
    right: 13px;
    z-index: 1;
    display: inline-block;
    height: 7px;
    width: 7px;
    font-size: 0;
    color: transparent;
    background-color: #fff;
    border-bottom: 1px solid #221d1d;
    border-left: 1px solid #221d1d;
    transform: rotate(-45deg);
}

.showcase .accordion__arrow.active {
    transform: rotate(135deg);
    bottom: 7px;
}

.showcase__items {
    display: flex;
    justify-content: space-between;
}

.showcase__item {
    position: relative;
    cursor: pointer;
}

.showcase__img {
    width: 100%;
    max-width: 370px;
    height: auto;
}

.showcase .item__background {
    background-color: #ffe100;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    max-width: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: opacity 0.2s linear;
}

.showcase .item__background:hover {
    opacity: 0.8;
}

.showcase .item__background .background__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 3.333;
    text-align: center;
}

.showcase .item__background .background__subtitle {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.showcase .btn--show {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 65px;
}

.items__col:nth-child(1) .showcase__item:nth-child(1) {
    height: 300px;
    margin-bottom: 30px;
}

.items__col:nth-child(1) .showcase__item:nth-child(2) {
    height: 500px;
}

.items__col:nth-child(2) .showcase__item:nth-child(1) {
    height: 500px;
    margin-bottom: 30px;
}

.items__col:nth-child(2) .showcase__item:nth-child(2) {
    height: 300px;
}

.items__col:nth-child(3) .showcase__item:nth-child(1) {
    height: 300px;
    margin-bottom: 30px;
}

.items__col:nth-child(3) .showcase__item:nth-child(2) {
    height: 500px;
}

.partners {
    min-height: 330px;
    background-color: #fdfdfd;
    margin-top: 65px;
    display: flex;
    align-items: center;
}

.partners__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__items {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    position: relative;
    width: 370px;
    height: 420px;
    cursor: pointer;
}

.about .item__desc {
    position: absolute;
    background-color: #fff;
    border: 5px solid #fdfdfd;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 55px;
}

.about .item__desc .desc__title {
    font-weight: 800;
    font-size: 20px;
    color: #221d1d;
    margin-bottom: 45px;
}

.about .item__desc .dest__text {
    font-size: 12px;
    font-weight: 500;
    color: #221d1d;
    margin-bottom: 50px;
}

.about .item__desc .desc__link {
    text-decoration: none;
    font-size: 15px;
    color: #221d1d;
}

.about .item__desc .desc__link:hover {
    text-decoration: underline;
}

.about__item:hover .item__desc {
    opacity: 1;
}

.about__item:hover .about__author {
    opacity: 0;
}

.about__author {
    width: 250px;
    height: 70px;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffe100;
    padding-top: 15px;
    padding-left: 30px;
    transition: opacity 0.1s linear;
}

.about__author .author__name {
    font-weight: 800;
    color: #221d1d;
    font-size: 15px;
    margin-bottom: 10px;
}

.about__author .author__pos {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}

.blog {
    background-color: #fdfdfd;
    margin-top: 120px;
    padding-top: 90px;
    min-height: 925px;
}

.blog__items {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item {
    position: relative;
    width: 370px;
    height: 280px;
}

.blog .blog__background {
    background-color: #ffe100;
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 280px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog__item:hover .blog__background {
    opacity: 0.9;
}

.blog .background__desc {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

.blog .background__desc:hover {
    text-decoration: underline;
}

.blog .item__desc {
    padding: 0 25px;
}

.blog .desc__title {
    font-size: 15px;
    font-weight: 800;
    margin: 15px 0;
    text-transform: uppercase;
}

.blog .desc__text {
    font-size: 12px;
    line-height: 2.5;
}

.blog .desc__data {
    font-size: 12px;
    margin-top: 15px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 65px;
}

.contact .inner__inputs .inputs__title {
    font-size: 30px;
    margin-bottom: 35px;
}

.contact .inner__inputs .inner__input {
    width: 100%;
    max-width: 570px;
    height: 45px;
    border: 0;
    background-color: #fdfdfd;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
}

.contact .inner__inputs .inner__input:focus {
    outline: 0;
}

.contact .inner__inputs .inner__input::-moz-placeholder {
    color: #221d1d;
}

.contact .inner__inputs .inner__input:-ms-input-placeholder {
    color: #221d1d;
}

.contact .inner__inputs .inner__input::-ms-input-placeholder {
    color: #221d1d;
}

.contact .inner__inputs .inner__input::placeholder {
    color: #221d1d;
}

.contact .inner__inputs .input--textarea {
    padding-top: 15px;
    resize: none;
    height: 135px;
    font-family: 'Montserrat', sans-serif;
    color: #221d1d;
    font-size: 12px;
}

.contact .inner__inputs .input--textarea::-moz-placeholder {
    color: #221d1d;
}

.contact .inner__inputs .input--textarea:-ms-input-placeholder {
    color: #221d1d;
}

.contact .inner__inputs .input--textarea::-ms-input-placeholder {
    color: #221d1d;
}

.contact .inner__inputs .input--textarea::placeholder {
    color: #221d1d;
}

.contact .inner__inputs .btn--inputs {
    width: 180px;
}

.contact .inner__img img {
    width: 100%;
    max-width: 570px;
    height: auto;
}

.contact__contacts {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 670px;
}

.contact__contacts .contacts__item {
    width: 185px;
    height: 110px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact__contacts .contacts__item .contacts__text {
    margin-top: 20px;
    line-height: 1.667;
    font-size: 12px;
    font-weight: 500;
}

.contact__social {
    width: 210px;
    display: flex;
    margin: 50px auto 65px;
    justify-content: space-between;
}

.contact__social .social__item {
    cursor: pointer;
    transition: fill 0.1s linear;
}

.contact__social .social__item:nth-child(1):hover {
    fill: #3F51B5;
}

.contact__social .social__item:nth-child(2):hover {
    fill: #03A9F4;
}

.contact__social .social__item:nth-child(3):hover {
    fill: #FF4081;
}

.contact__social .social__icon {
    width: 30px;
    height: 30px;
}

.footer {
    min-height: 180px;
    background-color: #221d1d;
    padding-top: 63px;
}

.footer .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer__copyright {
    color: #fff;
    margin-left: 15px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer__scroll {
    margin-right: 15px;
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.footer .footer__arrow {
    position: absolute;
    bottom: 2px;
    right: -13px;
    z-index: 1;
    display: inline-block;
    height: 7px;
    width: 7px;
    font-size: 0;
    color: transparent;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(135deg);
    transition: opacity 0.2s linear;
    cursor: pointer;
}

.footer .footer__scroll:hover {
    opacity: 0.8;
}
